@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tapestry&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #6B705C;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main ::selection {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #FFD6E8;
}
body {
    background-color: #A5A58D;
    font-family: 'Roboto', 'Bradley Hand', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #DDBEA9;
}
nav a:hover {
    background-color: #6B705C;
    color: #FFD6E8;
}
.book, .join {
    background-color: #6B705C;
    color: #A5A58D;
    text-decoration: none;
    font-family: 'Tapestry', 'Bradley Hand', sans-serif;
    font-size: .8em;
    padding: 15px 30px;
    margin: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #DDBEA9;
    color: #6B705C;
}
.msg {
    background-color: #DDBEA9;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color: #A5A58D;
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title {
    color: #6B705C;
    font-family: 'Tapestry', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: #6B705C;
}
.msg h2 {
    color: #6B705C;
    text-align: center;
}
.msg p {
    color: #6B705C;
    font-family: 'Roboto', 'Bradley Hand', sans-serif;
    font-size: 18px;
    padding-bottom: 15px;
    text-align: center;
}
footer h3 {
    color: #6B705C;
}
footer h3 a:hover {
    text-decoration: underline;
}
footer a {
    color: #FFD6E8;
    text-decoration: none;
}
footer a:hover {
    color: #6B705C;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 80px;
}
#hero-img {
    width: 100%;
}
h2 {
    margin: 0;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
main section img {
    box-sizing: border-box;
}
.card-img { 
    border: 10px solid #6B705C;
}